{% extends 'index.html' %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href=" {% static 'recipeblog/detail-pages.css'%}">
{% endblock %}

    {% block homebutton %}
    <a href=" {% url 'home' %} " class="button">На главную</a>
    {% endblock %}

{% block content %}
    {% if validlink %}
    <p> Пожалуйста, введите свой новый пароль и подтвердите его.</p>
    <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td> {{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label>
                    </td>
                    <td> {{ form.new_password1 }} </td>
                </tr>
                <tr>
                    <td> {{ form.new_password2.errors }}
                        <label for="id_new_password2">Повторите пароль:</label>
                    </td>
                    <td> {{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Изменить пароль"></td>
                </tr>
            </table>
    </form>
    {% else %}
        <h2 style="color:red"> Пароль не был сброшен.</h2>
        <p>Ссылка сброса пароля недействительна. Возможно, она устарела или уже была использована.
            Пожалуйста, запросите сброс пароля заново.</p>
    {% endif %}
{% endblock %}