{% extends 'index.html' %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href=" {% static 'recipeblog/loginlogout.css'%}">
{% endblock %}

    {% block homebutton %}
    <a href=" {% url 'home' %} " class="button">На главную</a>
    {% endblock %}

{% block content %}
    <div class="loginform">
   <p>На указанный вами электронный адрес выслано письмо с инструкциями для смены пароля. Если письмо не поступило
   в течение нескольких минут, проверьте другие папки, кроме "Входящих", включая папку "Спам".</p>
    </div>
{% endblock %}