{% extends 'index.html' %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href=" {% static 'recipeblog/loginlogout.css'%}">
{% endblock %}

    {% block homebutton %}
    <a href=" {% url 'home' %} " class="button">На главную</a>
    {% endblock %}

{% block content %}
    <div class="loginform">
    <p> Введите адрес электронной почты, использовавшийся при регистрации. </p>
    <form action="" method="post" >
        {% csrf_token %}
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
            <p> {{ form.email }} </p>
        <input type="submit" class="btn btn-default btn-lg" value="Сбросить пароль">
    </form>
    </div>
{% endblock %}