{% extends 'index.html' %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href=" {% static 'recipeblog/recipe-list.css'%}">
{% endblock %}

    {% block homebutton %}
    <a href=" {% url 'home' %} " class="button">На главную</a>
    {% endblock %}

    {% block user_sidebar %}
        {% if request.user.is_authenticated %}
            <p>Привет, {{ request.user.username }}!</p>
            <a href=" {% url 'my-profile' request.user.id %}" class="button userlogin">Мой профиль</a>
            <a href=" {% url 'update-user' user.id %} " class="button userlogin">Редактировать профиль</a>
            <a href=" {% url 'add-recipe' %}" class="button userlogin">Новый рецепт</a>
            <a href=" {% url 'my-recipes-all' %}" class="button userlogin">Мои рецепты</a>
            <a href=" {% url 'my-likes-all' %}" class="button userlogin current-page">Понравилось</a>
            <a href=" {% url 'my-favs-all' %}" class="button userlogin">Избранное</a>
            <a href=" {% url 'logout' %}" class="button userlogin">Выйти</a>
        {% else %}
            <a href=" {% url 'login' %}" class="button userlogin">Войти на сайт</a>
            <a href=" {% url 'register_user' %}" class="button userlogin">Регистрация</a>
        {% endif %}
    {% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
    <h2>Понравившиеся рецепты в категории "выпечка" ({{ liked_recipes.count }})</h2>
        {% if paged_recipes %}
            {% for recipe in paged_recipes %}
                {% if recipe.status == 'AC' %}
                    <h3> <a href="{{ recipe.get_absolute_url }}"> {{ recipe.title }} </a></h3>
                    <p> {% if recipe.dish_type == 'SL' %}
                        Салат
                        {% elif recipe.dish_type == 'FC' %}
                        Первое
                        {% elif recipe.dish_type == 'MC' %}
                        Второе
                        {% elif recipe.dish_type == 'DS' %}
                        Десерт
                        {% elif recipe.dish_type == 'BV' %}
                        Напиток
                        {% elif recipe.dish_type == 'BK' %}
                        Выпечка
                        {% endif %} | Автор: <a href="{{ recipe.author.get_absolute_url }}"> {{ recipe.author }}</a> |
                        Опубликован: {{ recipe.publication_date }} |
                        {% if recipe.author == request.user %}
                        <a href=" {% url 'update-recipe' recipe.id %}">Редактировать</a>
                        {% endif %}
                    </p>
                    <img src=" {{ recipe.picture }} " alt=" {{ recipe.title }} ">
                    <p> {{ recipe.description }} </p>
                    <p> Теги:
                        {% for tag in recipe.tags.all %}
                            <a href="{% url 'show-recipes-by-tag' tag.slug %} ">{{ tag }}</a>
                        {% endfor %}
                    </p>
                    <p> ❤️ {{ recipe.likes.count }} </p>
                        {% if recipe.is_liked %}
                            <form action=" {% url 'like-recipe' recipe.pk %} " method="POST" class="likefaveform">
                                {% csrf_token %}
                                <button type="submit" name="recipe_id" value={{recipe.id}} class="button liked">
                                    Мне нравится
                                </button>
                            </form>
                        {% else %}
                            <form action=" {% url 'like-recipe' recipe.pk %} " method="POST" class="likefaveform">
                                {% csrf_token %}
                                <button type="submit" name="recipe_id" value={{recipe.id}} class="button">
                                    Мне нравится
                                </button>
                            </form>
                        {% endif %}
                        {% if recipe.is_faved == False %}
                            <form action=" {% url 'fave-recipe' recipe.pk %} " method="POST" class="likefaveform">
                                {% csrf_token %}
                                <button type="submit" name="recipe_id" value={{recipe.id}} class="button">
                                    В избранное
                                </button>
                            </form>
                        {% else %}
                            <span class="button faved">В избранном</span>
                            <form action=" {% url 'fave-recipe' recipe.pk %} " method="POST" class="likefaveform">
                                {% csrf_token %}
                                <button type="submit" name="recipe_id" value={{recipe.id}} class="button">
                                    Удалить из избранного
                                </button>
                            </form>
                        {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Вы ещё не добавили в избранное ни одного рецепта из этой категории.</p>
        {% endif %}

    <div class="pagination">
        {% if paged_recipes.has_previous %}
            <a href="?page=1" class="pages page-nav">&laquo Первая</a>
            <a href="?page= {{ paged_recipes.previous_page_number }} " class="pages page-nav">Предыдущая</a>
        {% endif %}
        <p class="pages current-page">Страница {{ paged_recipes.number }} из {{ paged_recipes.paginator.num_pages }}</p>
        {% if paged_recipes.has_next %}
            <a href="?page= {{ paged_recipes.next_page_number }}" class="pages page-nav">Следующая</a>
            <a href="?page= {{ paged_recipes.paginator.num_pages }} " class="pages page-nav">Последняя &raquo</a>
        {% endif %}
    </div>
    {% else %}
        <h2 style="color: red">Недостаточно прав для просмотра страницы</h2>
        <p>Чтобы просматривать эту страницу нужно войти на сайт.</p>
    {% endif %}


{% endblock %}

{% block misc %}
{% if request.user.is_authenticated %}
<p>Категории:</p>
<a href=" {% url 'my-likes-all' %} "
   class="button button-sort">Все рецепты</a>
<a href=" {% url 'my-likes-salads' %} "
   class="button button-sort">Салаты</a>
<a href=" {% url 'my-likes-first-course' %} "
   class="button button-sort">Первое</a>
<a href=" {% url 'my-likes-main-course' %} "
   class="button button-sort">Второе</a>
<a href=" {% url 'my-likes-bakery' %} "
   class="button button-sort current-sort">Выпечка</a>
<a href=" {% url 'my-likes-dessert' %} "
   class="button button-sort">Десерт</a>
<a href=" {% url 'my-likes-beverages' %} "
   class="button button-sort">Напиток</a>
{% else %}

{% endif %}

{% endblock %}
