{% extends 'index.html' %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href=" {% static 'recipeblog/user-list.css'%}">
{% endblock %}

    {% block homebutton %}
    <a href=" {% url 'home' %} " class="button">На главную</a>
    {% endblock %}



{% block content %}

    <h2>Пользователи</h2>
    {% for user in user_list %}
        {% if user.status == 'AC' %}
            <h3> <a href="{{ user.get_absolute_url }}">{{ user.username }} </a></h3>
            <p> Дата регистрации: {{ user.registration_date }} | Последнее обновление профиля: {{ user.update_date }} |
                {% if user.status == 'AC' %}
                    Активен
                {% else %}
                    Заблокирован
                {% endif %}
                | Всего рецептов: {{ user.num_recipes }}
            </p>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block misc %}

<p>Сортировать:</p>
<a href=" {% url 'user-list' %} "
   class="button button-sort current-sort">По дате регистрации ↑</a>
<a href=" {% url 'sort-users-by-reg-date-desc' %} "
   class="button button-sort">
    По дате регистрации ↓</a>
<a href=" {% url 'sort-users-by-username-asc' %} "
   class="button button-sort">По алфавиту ↑</a>
<a href=" {% url 'sort-users-by-username-desc' %} "
   class="button button-sort">По алфавиту ↓</a>
<a href=" {% url 'sort-users-by-recipes-amount-asc' %} "
   class="button button-sort">По количеству рецептов ↑</a>
<a href=" {% url 'sort-users-by-recipes-amount-desc' %} "
   class="button button-sort">По количеству рецептов ↓</a>
{% endblock %}