{% extends 'index.html' %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href=" {% static 'recipeblog/user-list.css'%}">
{% endblock %}

    {% block homebutton %}
    <a href=" {% url 'home' %} " class="button">На главную</a>
    {% endblock %}



{% block content %}

    <h2>Пользователи</h2>
    {% for user in paged_users %}
        {% if user.status == 'AC' %}
            <h3> <a href="{{ user.get_absolute_url }}">{{ user.username }} </a></h3>
            <p> Дата регистрации: {{ user.registration_date }} | Последнее обновление профиля: {{ user.update_date }} |
                {% if user.status == 'AC' %}
                    Активен
                {% else %}
                    Заблокирован
                {% endif %}
                | Всего рецептов: {{ user.num_recipes }}
            </p>
            <p>Рейтинг {{ user.likes_amount }} </p>
        {% endif %}
    {% endfor %}
    <div class="pagination">
        {% if paged_users.has_previous %}
            <a href="?page=1" class="pages page-nav">&laquo Первая</a>
            <a href="?page= {{ paged_users.previous_page_number }} " class="pages page-nav">Предыдущая</a>
        {% endif %}
        <p class="pages current-page">Страница {{ paged_users.number }} из {{ paged_users.paginator.num_pages }}</p>
        {% if paged_users.has_next %}
            <a href="?page= {{ paged_users.next_page_number }}" class="pages page-nav">Следующая</a>
            <a href="?page= {{ paged_users.paginator.num_pages }} " class="pages page-nav">Последняя &raquo</a>
        {% endif %}
    </div>

{% endblock %}

{% block misc %}
<p>Сортировать:</p>
<a href=" {% url 'sort-users-by-reg-date-asc' %} "
   class="button button-sort">По дате регистрации ↑</a>
<a href=" {% url 'sort-users-by-reg-date-desc' %} "
   class="button button-sort">
    По дате регистрации ↓</a>
<a href=" {% url 'sort-users-by-username-asc' %} "
   class="button button-sort">По алфавиту ↑</a>
<a href=" {% url 'sort-users-by-username-desc' %} "
   class="button button-sort">По алфавиту ↓</a>
<a href=" {% url 'sort-users-by-recipes-amount-asc' %} "
   class="button button-sort current-sort">По количеству рецептов ↑</a>
<a href=" {% url 'sort-users-by-recipes-amount-desc' %} "
   class="button button-sort">По количеству рецептов ↓</a>
{% endblock %}