<html>
<head>
    <title>Кулинарный блог</title>

</head>
<body>
<header>
    <h1> {% block title %} Добро пожаловать в сервис пользовательских рецептов {% endblock %}</h1>
</header>
<nav>
    Навигация
    <ul>
        <li> <a href=" {% url 'home' %} ">На главную</a></li>
        <li> <a href=" {% url 'user-list' %}">Список авторов</a> </li>
        <li> <a href=" {% url 'recipe-list' %}">Список рецептов</a></li>
    </ul>

</nav>

<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>