<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Кулинарный блог</title>
    {% block styles %}
    {% load static %}
    <link rel="stylesheet" href=" {% static 'recipeblog/style.css'%}">
    {% endblock %}
</head>
<body>
<header>
    <h1> {% block title %} Добро пожаловать в сервис пользовательских рецептов {% endblock %}</h1>
</header>
<nav>
    {% block homebutton %}
    <a href=" {% url 'home' %} " class="button home">Главная страница</a>
    {% endblock %}
    <a href=" {% url 'user-list' %}" class="button users">Список авторов</a>
    <a href=" {% url 'recipe-list' %}" class="button recipes">Список рецептов</a>
</nav>

<section class="container">
    <div class="content user_sidebar">
        {% block user_sidebar %}
            {% if request.user.is_authenticated %}
                <p>Привет, {{ request.user.username }}!</p>
                <p><a href=" {% url 'logout' %}" class="button userlogin">Выйти</a></p>
            {% else %}
                <p><a href=" {% url 'login' %}" class="button userlogin">Войти на сайт</a></p>
                <p><a href=" {% url 'register_user' %}" class="button userlogin">Регистрация</a></p>
            {% endif %}
        {% endblock %}
    </div>

    <div class="content main">
        {% block content %}

        {% endblock %}
    </div>

    <div class="content misc">
        {% block misc %}

        {% endblock %}
    </div>
</section>
</body>
</html>