{% extends 'index.html' %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href=" {% static 'recipeblog/detail-pages.css'%}">
{% endblock %}

    {% block homebutton %}
    <a href=" {% url 'home' %} " class="button">На главную</a>
    {% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <h2> {{ user.username }} </h2>
        <p> ID: {{ user.id }} </p>
        <p> Дата регистрации: {{ user.registration_date }} </p>
        <p> Последнее обновление профиля: {{ user.update_date }} </p>
        <p> Статус: {% if user.status == 'AC' %}
                Активен
            {% else %}
                Заблокирован
            {% endif %}

        </p>
        <p> Мои рецепты ({{ my_recipe|length }}): </p>
        {% if my_recipe|length == 0 %}
            <p>У Вас пока нет рецептов.</p>
        {% else %}
            {% for recipe in my_recipe %}
                <p> {{ recipe }} </p>
            {% endfor %}
        {% endif %}
    {% else %}
    <p>Эта страница доступна только авторизованным пользователям.</p>
    <p>Для просмотра, пожалуйста, <a href=" {% url 'login' %}">авторизуйтесь</a>.</p>
    {% endif %}


{% endblock %}