    <div class="pagination">
        {% if paged_recipes.has_previous %}
            <a href="?page=1" class="pages page-nav">&laquo Первая</a>
            <a href="?page= {{ paged_recipes.previous_page_number }} " class="pages page-nav">Предыдущая</a>
        {% endif %}
        <p class="pages current-page">Страница {{ paged_recipes.number }} из {{ paged_recipes.paginator.num_pages }}</p>
        {% if paged_recipes.has_next %}
            <a href="?page= {{ paged_recipes.next_page_number }}" class="pages page-nav">Следующая</a>
            <a href="?page= {{ paged_recipes.paginator.num_pages }} " class="pages page-nav">Последняя &raquo</a>
        {% endif %}
    </div>