{% extends 'index.html' %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href=" {% static 'recipeblog/detail-pages.css'%}">
{% endblock %}

    {% block homebutton %}
    <a href=" {% url 'home' %} " class="button">На главную</a>
    {% endblock %}

{% block content %}
    <h2>{{ recipe.title }}</h2>
        <p> {% if recipe.dish_type == 'SL' %}
            Салат
            {% elif recipe.dish_type == 'FC' %}
            Первое
            {% elif recipe.dish_type == 'MC' %}
            Второе
            {% elif recipe.dish_type == 'DS' %}
            Десерт
            {% elif recipe.dish_type == 'BV' %}
            Напиток
            {% elif recipe.dish_type == 'BK' %}
            Выпечка
            {% endif %} | Автор: {{ recipe.author }} | Опубликован: {{ recipe.publication_date }}
            | Обновлён: {{ recipe.update_date }} | Статус:
            {% if recipe.status == 'AC' %}
                Активен
            {% else %}
                Заблокирован
            {% endif %} |
            {% if recipe.author == request.user %}
            <a href=" {% url 'update-recipe' recipe.id %}">Редактировать</a>
            {% endif %}
            </p>
        <img src=" {{ recipe.picture }} " alt=" {{ recipe.title }} ">
        <h3>Описание:</h3>
        <p> {{ recipe.description|linebreaks }} </p>
        <h3>Ингредиенты:</h3>
        <p> {{ recipe.ingredients|linebreaks }} </p>
        <h3>Приготовление:</h3>
        <p> {{ recipe.steps_to_complete|linebreaks }} </p>
        <p> Теги:
            {% for tag in recipe.tags.all %}
                <a href="{% url 'show-recipes-by-tag' tag.slug %} ">{{ tag }}</a>
            {% endfor %}
        </p>
        <p> ❤️ {{ recipe.likes.count }} </p>

        {% if is_liked %}
        <form action=" {% url 'like-recipe' recipe.pk %} " method="POST">
            {% csrf_token %}
            <button type="submit" name="recipe_id" value= {{ recipe.id }} class="button"
                    style="background-color:green; color: white">
                Мне нравится
            </button>
        </form>
        {% else %}
        <form action=" {% url 'like-recipe' recipe.pk %} " method="POST">
            {% csrf_token %}
            <button type="submit" name="recipe_id" value= {{ recipe.id }} class="button">
                Мне нравится
            </button>
        </form>
        {% endif %}
        {% if is_faved == False %}
        <form action=" {% url 'fave-recipe' recipe.pk %} " method="POST">
            {% csrf_token %}
            <button type="submit" name="recipe_id" value= {{ recipe.id }} class="button">
                В избранное
            </button>
        </form>
        {% else %}
        В избранном
        <form action=" {% url 'fave-recipe' recipe.pk %} " method="POST">
            {% csrf_token %}
            <button type="submit" name="recipe_id" value= {{ recipe.id }} class="button">
                Удалить из избранного
            </button>
        </form>
        {% endif %}



{% endblock %}
