{% extends 'index.html' %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href=" {% static 'recipeblog/detail-pages.css'%}">
{% endblock %}

    {% block homebutton %}
    <a href=" {% url 'home' %} " class="button">На главную</a>
    {% endblock %}

{% block content %}
    <h2>{{ recipe.title }}</h2>
        <p> {% if recipe.dish_type == 'SL' %}
            Салат
            {% elif recipe.dish_type == 'FC' %}
            Первое
            {% elif recipe.dish_type == 'MC' %}
            Второе
            {% elif recipe.dish_type == 'DS' %}
            Десерт
            {% elif recipe.dish_type == 'BV' %}
            Напиток
            {% elif recipe.dish_type == 'BK' %}
            Выпечка
            {% endif %} | Автор: {{ recipe.author }} | Опубликован: {{ recipe.publication_date }}</p>
        <img src=" {{ recipe.picture }} " alt=" {{ recipe.title }} ">
        <p> {{ recipe.description }} </p>
        <p> Теги: {{ recipe.tags }} </p>
        <p> ❤️ {{ recipe.likes }} </p>

{% endblock %}
