{% extends 'index.html' %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href=" {% static 'recipeblog/user-list.css'%}">
{% endblock %}

    {% block homebutton %}
    <a href=" {% url 'home' %} " class="button">На главную</a>
    {% endblock %}

{% block user_sidebar %}

{% endblock %}

{% block content %}

    <h2>Пользователи</h2>
    {% for user in user_list %}
        <h3> <a href="{{ user.get_absolute_url }}">{{ user.username }} </a></h3>
        <p> Дата регистрации: {{ user.registration_date }} | Последнее обновление профиля: {{ user.update_date }} |
            {% if user.status == 'AC' %}
                Активен
            {% else %}
                Заблокирован
            {% endif %}
        </p>

    {% endfor %}

{% endblock %}

{% block misc %}

{% endblock %}