{% extends 'index.html' %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href=" {% static 'recipeblog/detail-pages.css'%}">
{% endblock %}

    {% block homebutton %}
    <a href=" {% url 'home' %} " class="button">На главную</a>
    {% endblock %}

{% block content %}

    <h2> {{ user.username }} </h2>
    {% if request.user.is_authenticated %}
    <p> Дата регистрации: {{ user.registration_date }} | Последнее обновление профиля: {{ user.update_date }} |
        Статус: {% if user.status == 'AC' %}
            Активен
        {% else %}
            Заблокирован
        {% endif %}
    </p>
    <p> Всего рецептов: {{ user.num_recipes }} </p>
    <p> Рейтинг: {{ user.likes_amount }} </p>
    <a href=" {% url 'user-favs' user.pk %}" class="button userlogin">Избранное ({{ fav_recipes.count }})</a>




    {% else %}
    <p>Эта страница доступна только авторизованным пользователям.</p>
    <p>Для просмотра, пожалуйста, <a href=" {% url 'login' %}">авторизуйтесь</a>.</p>
    {% endif %}


{% endblock %}