<html>
<head>
    <title>Кулинарный блог</title>

</head>
<body>
<header>
    <h1>Добро пожаловать в сервис пользовательских рецептов</h1>
</header>
<nav>
    Навигация
    <ul>
        <li>На главную</li>
        <li>Список авторов</li>
        <li>Список рецептов</li>
    </ul>

</nav>

    <h2>Список пользователей</h2>
    {% for user in user_list %}
        <h3> {{ user.username }} </h3>
        <p> {% if user.status == 'AC' %}
                Активен
            {% else %}
                Заблокирован
            {% endif %}
        </p>
    {% endfor %}
</body>
</html>