h1 {
text-align: center;
}

nav {
display: flex;

}

.button {
flex: auto;
font-size: 20px;
color: black;
border: 2px solid black;
text-align: center;
padding: 10px;
margin-left: 10px;
margin-right: 10px;
border-radius: 10px;
text-decoration: none;
outline: none;
cursor: pointer;
}

nav a:link {
background-color: white;
}

nav a:visited {
background-color: white;
}

nav a:hover {
border: 5px solid #00ec9e;
}

nav a:active {
background-color: #00ec9e;
}


.container {
display: flex;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
}



.content + .content {
margin-left: 1vw;
}

.user_sidebar,
.misc {
width: 20vw;
}

.main {
width: 60vw;
}


/* Оформление кнопки входа на сайт */

.userlogin:link {
background-color: white;
}

.userlogin:visited {
background-color: white;
}

.userlogin:hover {
border: 5px solid #00ec9e;
}

.userlogin:active {
background-color: #00ec9e;
}