h1 {
text-align: center;
}

/* Оформление блока навигации */
nav {
display: flex;
}

.button {
flex: auto;
font-size: 20px;
color: black;
border: 4px solid gray;
text-align: center;
padding: 10px;
margin-left: 10px;
margin-right: 10px;
border-radius: 10px;
text-decoration: none;
outline: none;
cursor: pointer;
}

nav a:link {
background-color: white;
}

nav a:visited {
background-color: white;
}

nav a:hover,
nav a:focus {
border: 4px solid #00ec9e;
}

nav a:active {
background-color: #00ec9e;
}

nav a.users:link {
background-color: #ffecab;
}

nav a.users:visited {
background-color: #ffecab;
}

/* Общая раскладка сайта */
.container {
display: flex;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
}



.content + .content {
margin-left: 1vw;
}

.user_sidebar {
width: 20vw;
}

.misc {
width: 10vw
}

.main {
width: 60vw;
}

.loginform {
width: 50%;
margin: auto
}

.user_sidebar p {
margin-top: 5vh;
padding-right: 2vw;
}


/* Оформление кнопки входа на сайт */

.userlogin:link {
background-color: white;
}

.userlogin:visited {
background-color: white;
}

.userlogin:hover,
.userlogin:focus {
border: 5px solid #00ec9e;
}

.userlogin:active {
background-color: #00ec9e;
}