h1 {
text-align: center;
}

/* Оформление блока навигации */
nav {
display: flex;
}

.button {
flex: auto;
font-size: 20px;
color: black;
border: 4px solid gray;
text-align: center;
padding: 10px;
margin-left: 10px;
margin-right: 10px;
border-radius: 10px;
text-decoration: none;
outline: none;
cursor: pointer;
}

nav a:link {
background-color: white;
}

nav a:visited {
background-color: white;
}

nav a:hover,
nav a:focus {
border: 4px solid #00ec9e;
}

nav a:active {
background-color: #00ec9e;
}

nav a.recipes:link {
background-color: #ffecab;
}

nav a.recipes:visited {
background-color: #ffecab;
}

/* Общая раскладка сайта */
.container {
display: flex;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
}

.content + .content {
margin-left: 1vw;
}

.main p {
width: 100%;
height: auto;
}

.main {
width: 60vw;
}

.user_sidebar,
.misc {
width: 20vw;
}

.user_sidebar p {
margin-top: 5vh;
padding-right: 2vw;
}


/* Оформление блока пользовательской навигации */

.user_sidebar {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
height: fit-content;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
}

.user_sidebar p {
text-align: center;
}
.userlogin {
border: 3px solid gray;
width: 95%;
height: auto;
font-size: 14px;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 1px;
padding-right: 1px;
margin-top: 5px;
margin-bottom: 5px;
}

.userlogin:link {
background-color: white;
}

.userlogin:visited {
background-color: white;
}

.userlogin:hover,
.userlogin:focus {
border: 3px solid #00ec9e;
}

.userlogin:active {
background-color: #00ec9e;
}
