{% extends 'index.html' %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href=" {% static 'recipeblog/recipe-list.css'%}">
{% endblock %}

    {% block homebutton %}
    <a href=" {% url 'home' %} " class="button">На главную</a>
    {% endblock %}



{% block content %}

    {% include 'recipe.html' %}

{% endblock %}

{% block misc %}

<p>Категории:</p>
<a href=" {% url 'sort-all-recipes-by-pub-date-desc' %} "
   class="button button-sort current-sort">Все рецепты</a>
<a href=" {% url 'sort-salads-by-pub-date-desc' %} "
   class="button button-sort">Салаты</a>
<a href=" {% url 'sort-first-courses-by-pub-date-desc' %} "
   class="button button-sort">Первое</a>
<a href=" {% url 'sort-main-courses-by-pub-date-desc' %} "
   class="button button-sort">Второе</a>
<a href=" {% url 'sort-bakery-by-pub-date-desc' %} "
   class="button button-sort">Выпечка</a>
<a href=" {% url 'sort-desserts-by-pub-date-desc' %} "
   class="button button-sort">Десерт</a>
<a href=" {% url 'sort-beverages-by-pub-date-desc' %} "
   class="button button-sort">Напиток</a>
<a href=" {% url 'all-tags' %} "
   class="button button-sort">Теги</a>
<a href=" {% url 'all-authors' %} "
   class="button button-sort">Авторы</a>

<p>Сортировать:</p>
<a href=" {% url 'sort-all-recipes-by-pub-date-desc' %} "
   class="button button-sort">
    По дате публикации ↓</a>
<a href=" {% url 'sort-all-recipes-by-pub-date-asc' %} "
   class="button button-sort">По дате публикации ↑</a>
<a href=" {% url 'sort-all-recipes-by-title-desc' %} "
   class="button button-sort">По алфавиту ↓</a>
<a href=" {% url 'sort-all-recipes-by-title-asc' %} "
   class="button button-sort">По алфавиту ↑</a>
<a href=" {% url 'sort-all-recipes-by-likes-desc' %} "
   class="button button-sort current-sort">По рейтингу ↓</a>
<a href=" {% url 'sort-all-recipes-by-likes-asc' %} "
   class="button button-sort">По рейтингу ↑</a>
{% endblock %}